.container {
    background-color: #f9f9f9;
}
.schedule-disabled {
    background-color: #cccccc;
}
.schedule-row {
    height: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.employee-scheduled {
    background-color: #008140;
}
.employee-handling-time {
    text-align: right;
    justify-content: center;
    align-items: center;
}
.employee-name {

    font-size: smaller;
}

#schedule-title {
    align-items: center;
}

img {
    height: 100%;
    width: 100%;
}