#navbar {
    background-color: blueviolet;
}

.schedule-row {
    height: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.employee-name {

    font-size: smaller;
}
#kpi {
    background-color: brown;
}

#schedule-title {
    text-align: center;
}
#barplot {
    background-color: azure;
}

#margin-text {
    background-color: firebrick;
}

#margin-numbers {
    background-color: plum;
}

#employees {
    background-color: lightgray;
}

#schedule {
    background-color: mediumpurple;
}