#navbar {
    background-color: blueviolet;
}

#kpi {
    background-color: brown;
}

#barplot {
    background-color: azure;
}

#margin-text {
    background-color: firebrick;
}

#margin-numbers {
    background-color: plum;
}

#employees {
    background-color: lightgray;
}

#schedule {
    background-color: mediumpurple;
}